<div class="footer__columns">
	<div class="three columns column--1">
		<?php echo $this->getChildHtml('footer-col-1'); ?>
	</div>
	<div class="three columns  column--2">
		<?php echo $this->getChildHtml('footer-col-2'); ?>
	</div>
	<div class="three columns  column--3">
		<?php echo $this->getChildHtml('footer-col-3'); ?>
	</div>
	<div class="three columns  column--4">
		<?php echo $this->getChildHtml('footer-col-4'); ?>
	</div>
</div>