/**
 * Magento
 *
 * @category    Design
 * @package     Humanspeed
 * @copyright   Copyright (c) 2016-2017, (http://ciemtech.com/)
 * @license     (http://ciemtech.com/) 
 */
/***********************************************************************************
STRUCTURE
************************************************************************************/
@font-face {
    font-family: Conduit;
    src: url(../fonts/Conduit-ITC-W01-Regular.ttf);  /* check this */
}
body {
/*	background:#000;	*/
        background-color: rgb(39, 38, 38);
}

.wrapper__header,
.wrapper__page {
	background:#fff;
}

.wrapper__page {
	padding-bottom:60px;
}

.page__content {
	padding-top:20px;
	border-top:1px solid #d9d9d9;
}

.cms-home .page__content {
	padding-top:0;
	border:none;
}

footer {
	padding-bottom:40px;
}

.prefooter__content,
.footer__content  {
	color:#fff;
}

footer .container {
	padding:20px 0 0 0;
}

.prefooter__content a,
.footer__content a {
	color:#fff;	
}

.social-footer__content {
	padding:40px 0;
	
	background:#d7d7d7;
	color:#3a3a3a;
	
	text-align:center;
}

.social-footer__content a {
	padding:0 40px;
	color:#3a3a3a;
}

.prefooter__content {
	background:#444648;
}

.footer__content li {
	float:left;
	margin-right:20px;
	
	text-transform:uppercase;
}

.wrapper__footer {
	
}


/***********************************************************************************
FONTS
************************************************************************************/
html {
	font-size:62.5%;
}

body {
	font-size:14px;
	font-size:1.4rem;
        font-family: Conduit;
}

p {
	margin:0.5em 0 0.5em;
}


h1, h2, h3, h4, h5, h6 {
/*	margin:0.5em 0 0.2em;*/
	
	letter-spacing:normal;
	line-height:1.2em;
	text-transform:none;
	color:#000;
}
h1 {
	font-size:28px;
	font-size:2.8rem;
}
h2 {
	font-size:21px;
	font-size:2.1rem;
}
h3 {
	font-size:16px;
	font-size:1.6rem;
}
h4 {
	font-size:14px;
	font-size:1.4rem;
}
h5 {
	font-size:12px;
	font-size:1.2rem;
}
h6 {
	font-size:8px;
	font-size:0.8rem;
}


/* Include FontAwesome */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* REMOVE BORDERS FROM HEADINGS */
.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1,
form h2.legend {
	border-bottom:none;
}

/***********************************************************************************
HEADER - http://ciemtech.com/
************************************************************************************/
.header__links {
	padding:10px;
/*	background:#000;*/

	overflow:auto;
	width:100%;
        
        background-color: rgb(39, 38, 38);
        border-bottom: 1px solid #2f2f2f;
        
}
.header__links links {
	overflow:auto;
	width:100%;
}

.header__links ul {
	float:right;

}

.header__links li {
	float:left;	
	margin-left:20px;
}

.header__links a {
	color:#fff;	
}

.header__logo,
.header__search {
	display:inline-block;
	padding:40px 0;
}


/* STORE SWITCHER */
.header__language {
	text-align:center;
}
.store-switcher {
	display:inline-block;
	margin:20px auto;
}

/***********************************************************************************
FOOTER
************************************************************************************/
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
	color:#fff;
}



/***********************************************************************************
FOOTER SOCIAL
************************************************************************************/
.social-footer__content ul {
	display:inline-block;
	overflow:auto;
	width:auto;
		
}

.social-footer__content li {
	float:left;
	display:inline-block;
}

.social-footer__content a {
	display:block;	
}

.social-footer__content a:hover {
	text-decoration:none;	
}

.social-footer__content a:hover:before {
	color:#039DDF;
	
	transition:all ease-in-out 0.2s;
}

.social-footer__content span {
	display:none;	
}

.social-footer__content a:before {
	transition:all ease-in-out 0.3s;
}



/***********************************************************************************
HOME
************************************************************************************/

.cms-home .page__content {
	margin-top:0;
}


/***********************************************************************************
INTERACTIVE
************************************************************************************/

/* BUTTONS */
.button,
button.button,
.cart .buttons-set .button,
.cart-table .button,
.sidebar .actions .button,
.button.button-secondary {
	height:30px;
	padding:0 12px;
	
	background:#019cde;
	color:#fff;
	border:none;
	border-radius:0;
	
	text-transform:uppercase;
	font-size:12px;
	font-size:1.2rem;
	line-height:30px;
	letter-spacing:normal;
	
	transition:background 0.2s ease-out;
}

.button:hover,
button.button:hover,
.cart .buttons-set .button:hover,
.cart-table .button:hover,
.sidebar .actions .button:hover,
.button.button-secondary:hover {
	background:#42c0f5;
	color:#fff;
	
	transition:all 0.2s ease-in;
}

/* INPUTS */
input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	padding:5px;
	
	border-radius:0;
}

/* PRODUCT BUTTONS */
.btn-cart.validation-passed {
	color:#fff;
	background:#4dbf15;	
}

/***********************************************************************************
SEARCH - http://ciemtech.com/
************************************************************************************/
.header__search .button {
	position:absolute;
        right: 0px;
        top: 40px;
	height:40px;
	width:40px;
	padding:0;
	
/*	border-radius:0 4px 4px 0;*/
	
	text-align:center;
/*	color:#fff;*/
}
@media screen and (max-width: 767px){
.header__search .button {
    top: 177px;
    float: right;
    }
}

.header__search .button span span {
	font-size:0;
	line-height:0;	
}

.header__search .button:after {
	font-family:'FontAwesome';
	font-size:20px;
	font-size:2rem;
	font-weight:normal;
	content:'\f002';	
}

/* TEMP HIDE THIS */
#search_autocomplete {
	display:none;
}


/***********************************************************************************
BREADCRUMBS
************************************************************************************/

.breadcrumbs {
	margin:20px 0;
	
	color:#b4b4b4;
}

.breadcrumbs strong {
	color:#000;
}



/***********************************************************************************
PRIMARY NAVIGATION
************************************************************************************/
.nav__pages,
.nav__shop {
	float:left;
}

/* http://ciemtech.com/ */
.nav__primary a {
/*	float:left;*/
	padding:15px;
	
/*	color:#000;*/
	color:#fff;
	font-size:1.8rem;	
	text-transform:uppercase;
}

.nav__primary a:hover {
	text-decoration:none;
        background-color: #0088cc;
        
}


.nav__primary ul {
	/*position:relative;*/
}

/* LEVEL 0 */

/* LEVEL 1 - http://ciemtech.com/ */ 
.nav__primary ul.level0 {
	display:none;
	position:absolute;
/*	top:3em;*/
	left:0;
	
	opacity:0;
	background:#fff;
/*	border:1px solid #cccccc;*/

	z-index:99;
	
	transition:all 0.3s ease-out;
        
        /* KAISHI */ 
        /* スタート */
        /* 開始 */
        margin-right: auto;
        margin-left: auto;
        height: 165px;
        margin-top: auto;
        margin-bottom: auto;
        border-bottom: #000000 0px solid;
        border-left: #000000 0px solid;
        background-color: #fff;
        text-align: left;
        padding: 20px 0px 0px 0px;
        
}

.nav__primary li.level0 {
	position:relative;
	display:inline-block;
}


.nav__primary li.level1 {
	display:table-cell;
	border-left:1px solid #cccccc;	
}

.nav__primary li.level1:first-child {
	border:none;
}

/* http://ciemtech.com/ */ 
.nav__primary .level1 > a {
	width:100%;
	padding-right:40px;
/*	background:#e7e5e6;*/
        /* KAISHI */ 
        /* スタート */
        /* 開始 */
/*        float:left;*/
        font-size: 22px;
        font-weight: bold;
        color: black;
}
.nav__primary .level1 > a:hover {
	background:none !important;
}

.menu__guide li li{
    height: 150px !important;
}

.menu__guide{
    border-left: 0px solid #cccccc !important;
    float: left !important;
    position: absolute;
    margin-top: 5px !important; 
    margin-bottom: 10px !important;
}
.menu__guide a span:hover{
    color:grey !important;
}

/* CSS Class */
.menu__guide a span{
    width: 100%;
    padding: 5px 5px 5px 5px !important;
    /* background: #e7e5e6; */
    font-weight: normal !important;
    font-size: 16px;
    color: black;
}
/* http://ciemtech.com/ */
.nav__primary li li {
	float:none;
        /* KAISHI */ 
        /* スタート */
        /* 開始 */
        width: 200px;
       
}

.nav__primary li li a {
/*	padding:5px 10px;*/
	
	font-size:16px;

}

/* LEVEL 2+ */
.nav__primary li li li a {
/*	color:#818181;*/
	text-transform:none;	
        /* KAISHI */ 
        /* スタート */
        /* 開始 */
        color:#000;
	text-transform: uppercase;
}
.nav__primary li li li a:hover {
        background:none !important;
        color: grey;
}

/* HOVERS */
.nav__primary li:hover > ul {
	display:block;
	
	opacity:1;
	
	transition:all 0.3s ease-in;	
}

@media screen and (min-width:840px) {

	.nav__primary li:hover > ul.level0 {
		display:table-cell;	
	}
}

/***********************************************************************************
MENU MANAGER NAVIGATION (PAGES MENU)
************************************************************************************/
.menu-manager-menu {
	margin:0;
}
.menu-manager-menu li {
	padding:0;
}
.menu-type-horizontal {
	z-index:30;
}
.menu-type-horizontal li.level0.last,
.menu-type-horizontal li {
	border:none;
}

/***********************************************************************************
MENU MANAGER NAVIGATION (CLUBS MENU)
************************************************************************************/
.nav__title {
	width:100%;
	padding:10px 15px;
	
	font-size:16px;
	font-size:1.6rem;
	text-transform:uppercase;
	
	color:#fff;
	background:#019cde;
}

.nav__clubs,
.nav__clubs ul {
	margin:20px 0;
	padding:0;
}

.nav__clubs li.level0 > span {
	font-size:18px;
	font-size:1.8rem;
	text-transform:uppercase;	
	
	color:#000;
}


/***********************************************************************************
MOBILE MENUS
************************************************************************************/
.nav__mobile__btn {
	display:none;	
}
@media screen and (max-width:767px) {
	
	.header__nav [data-menu-active="false"] {
		display:none;
	}
	.header__nav [data-menu-active="true"] {
		display:block;
	}
	
	.nav__mobile__btn {
		display:block;
		width:100%;
		padding:20px;
		margin:20px 0;
		
		font-size:18px;
		font-size:1.8rem;
		text-align:center;
		
		color:#fff;
		background:#019cde;
		
		cursor:pointer;
	}
	
	.header__nav ul {
		width:100%;
	}
	.header__nav .nav__primary li {
		display:block;
	}
	
	.header__nav .nav__primary a {
		display:block;
		float:none;
		padding:20px;
	}
	
	.nav__primary li li a{
		padding: 5px 10px !important;
	}
	
	.menu-manager-menu{
        background-color: #0088cc;    
    }
	
	.nav__shop {
        background-color: #0088cc;
    }
	
	.nav__primary ul.level0 {
		position:relative;
		top:0;
		width:100%;
		display:block;
		opacity:1;
        height: 100%;
        padding: 20px 0px 160px 0px !important;
	}
	
	.nav__primary ul.level1 ,
	.nav__primary li.level1 {
		display:block;
		float:none;
	}
}

/***********************************************************************************
LAYERED NAVIGATION
************************************************************************************/
.block-categories {
	border:1px solid #a9a9a9;
}

.nav__layered {
	margin:0;
}

/* LEVEL 0 + 1 */
.nav__layered li > a,
.nav__layered li li > a {
	display:block;
	padding:10px;
	
	color:#000;
	
	text-transform:uppercase;
	text-decoration:none;
}

/* LEVEL 0 */
.nav__layered li.level0 {
	border-bottom:1px solid #a9a9a9;
}

.nav__layered .nav__title--level0 {
	border-bottom:1px solid #a9a9a9;
}

.nav__layered li:first-child .nav__title--level0 {
	border-top:none;
}

.nav__layered li:last-child .nav__title--level0,
.nav__layered li.level0:last-child {
	border-bottom:none;
}

/* ACTIVE LEVELS */
.nav__layered .active .nav__title--level0 {
	background:#b4b4b4;	
}

.nav__layered .level1 li.active > a {
	font-weight:bold;	
}

/* LEVEL 1 */
.nav__layered li.level1 {
	margin:0 0 20px 10px;
	
}

/* LEVEL 2+ */
.nav__layered li li li > a {
	padding:0 10px 5px 10px;
	
	color:#818181;
	text-transform:none;	
}

/***********************************************************************************
PRODUCTS GRID
************************************************************************************/

.products-grid li {
	list-style:none;
}

.products-grid .product-name {
	margin:5px 0 15px;
	padding-top:5px;
	
	border-top:1px solid #616161;
	border-bottom:none;

	text-align:left;
	text-transform:none;
}

.products-grid .actions {
	position:relative;
	float:left;
	min-height:auto;
	width:auto;
	padding:0;
}

.products-grid .price-box {
	float:right;
	margin:3px 0;	
}

/* WIDGETS PRODUCT GRID */
.widget .widget-title h2 {
	color:#000;
	font-size:21px;
	font-size:2.1rem;
	font-weight:normal;
}

.widget-new-products .products-grid .product-image,
.widget-new-products .products-list .product-image {
	height:auto;
}

.products-grid .product-image-group {
	position:relative;	
}

.products-grid .swatches-container {
	position:absolute;
	bottom:5px;	
}

@media (min-width: 550px) {
	.products-grid li.item {
		width: 30.6666666667%;
		margin-right:0;
	}
	
	.products-grid > li:nth-child(3n+1) {
    	clear: left;
	}
	.products-grid > li:nth-child(3n) {
		margin-right: 0;
	}
}

@media screen and (max-width:767px ) {
	/* Hide product menu on product pages */
	.catalog-product-view .page__content .columns__left {
		display:none;		
	}
	.products-grid > li {
		width:100%;
	}
	
	.products-grid .price-box {
		float:none;
		text-align:left;
	}
	
	.products-grid .actions {
		float:none;
		width:100%;
	}
	
	.button,
	button.button,
	.cart .buttons-set .button,
	.cart-table .button,
	.sidebar .actions .button,
	.button.button-secondary {
		width:100%;
		display:block;
		height:50px;
	}
	
}



/***********************************************************************************
PRODUCT IMAGES
************************************************************************************/
.product-image,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
	border:none;
}

/* WIDGET PRODUCT GRID */
.widget-new-products .products-grid .product-image {
	width:auto;
	margin:0;
}

.product-img-box .product-image-thumbs li {
	float:left;
	width:14%;
	margin-left:3%;
	margin-bottom:3%;
	
	border:1px solid #a1a1a1;
}

.product-img-box .product-image-thumbs li:nth-child(6n+1) {
	margin-left:0;
}

.product-img-box .more-views li:first-child {
	margin-left:0;	
}

.product-img-box .product-image-thumbs a {
	display:block;
}

@media (min-width: 550px) {
	.widget-new-products .products-grid li.item {
		width: 22%;
		margin-right:0;
	}
	
	.widget-new-products .products-grid > li:nth-child(4n+1) {
    	clear: left;
	}
	.widget-new-products .products-grid > li:nth-child(4n) {
		margin-right: 0;
	}
	.widget-new-products .products-grid > li:nth-child(3n+1) {
		clear:none;
	}
}

/***********************************************************************************
PRODUCT
************************************************************************************/

.products-grid .product-name,
.products-list .product-name {
	font-size:16px;
	font-size:1.6rem;
}

.products-grid .product-name a,
.products-list .product-name a {
	color:#000;
	font-weight:normal;	
	text-transform:none;
}

.product-view .product-shop .product-name .h1,
.product-view .product-img-box .product-name h1 {
	color:#000;	
	font-weight:normal;
}

.product-view .add-to-cart {
	padding-bottom:20px;
}

.product-options-bottom .btn-cart {
	display:block;
	height:45px;
	margin-top:40px;
	padding:0 30px;
	
	line-height:45px;
}

.availability.in-stock {
	color:#09A0E1
}

/* DESCRIPTION TAB BOX */
.product-collateral .toggle-tabs {
	display:none;
}
.product-collateral > dl > dd {
	border:none;
}

@media screen and (min-width:768px) {
	.product-collateral {
		width:50%;
		float:right;
	}
}

/* ZOOM */
.zoomWindowContainer .zoomWindow {
	border:none!important;
}



/***********************************************************************************
PRICES
************************************************************************************/
.product-view .product-shop .price-info {
	float:none;
	clear:both;
	padding-left:0;
	
	text-align:left;
}

.product-view .price-box .special-price {
	padding-left:0;
}

.price-box .old-price,
.price-box .special-price {
	display:block;
	
	margin:0 auto;
}

.price-box .old-price {
	margin-top:-10px;
}

/***********************************************************************************
CONFIGURABLE PRODUCT
************************************************************************************/

/* VARIABLE OPTION SWATCHES */

.product-options,
.product-options-bottom {
	margin:20px 0 0 0;
	padding:0;
	
	background:none;
	border:none;
}

.product-options dd {
	border-bottom:none;
}

.product-options label {
	text-transform:uppercase;
}

.product-options select {
	/*display:none;*/
}

.swatches-container .swatch-span,
.swatches-container .swatch-img {
	display:inline-block;
	width:2.5em;
	height:2.5em;
	
	line-height:2.3em;
	
	cursor:pointer;
}

.swatches-container .current.swatch-img.swatch-img {
	border:none;
	width:3em;
	height:3em;
	margin-bottom:-0.2em;
}

.swatches-container .current.swatch-img:before {
	width:2.9em;
	height:2.8em;
}

.swatches-container .swatch-span {
	border:1px solid rgba(0,0,0,0.3);
	
	font-weight:bold;
	text-align:center;
	color:#333;
}

.swatches-container .swatch-span:hover {
	text-decoration:none;
}

.swatches-container .current.swatch-span {
	background:#000;
	color:#fff;
	border:1px solid #000;	
}

/***********************************************************************************
RELATED / UPSELL
************************************************************************************/

/* UPSELL */
.products-grid {
	width:100%;
}

.box-up-sell td {

}

.box-up-sell td.last {

}



/***********************************************************************************
CHECKOUT
************************************************************************************/

.cart-table {
	width:100%;
}

.cart-table thead th,
.cart-table tbody td {
	padding:10px 20px;
}

.cart .totals {
	
}

.cart .totals .price {
	margin-left:20px;
}

.cart .totals table {
	float:right;
	margin:0 0 20px 0;
	padding:0 0 20px 0;
}

.cart-collaterals .col2-set {
	border-bottom:1px solid silver;
	padding-bottom:20px;
	margin-bottom:20px;
}

.cart button.btn-empty {
	background:#b4b4b4;
}

.cart .buttons-set button.btn-continue {
	float:left;
}

.checkout__actions.checkout__actions button.button {
	position:relative;
	height:46px;

	padding:0 25px;
	
	line-height:46px;
}

.checkout__actions.checkout__actions button.btn-continue {
	background:#b4b4b4;
}

.checkout__actions button.btn-proceed-checkout:after,
.checkout__actions button.btn-continue:after {
	left: 100%;
	top: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #019cde;
	border-width: 23px;
	margin-top: 0;	
	transition: all 0.2s ease-out 0s;
}

.checkout__actions button.btn-continue:after {
	right:100%;
	left:auto;
	border-right-color: #b4b4b4;
	border-left-color:rgba(0,0,0,0);
}

.checkout__actions button.btn-proceed-checkout:hover:after{
	border-left-color:#42C0F5;
	transition: all 0.2s ease-in 0s;
}
.checkout__actions button.btn-continue:hover:after {
	border-right-color:#b4b4b4;
	transition: all 0.2s ease-in 0s;
}

/* COUPON INPUT */
.cart .discount {
	float:right;
	width:auto;
}

#discount-coupon-form label,
.cart .giftcard label {
	display:block;
}

.cart .discount-form .buttons-set {
	margin:4px 0 0;
	padding:0;
	border:none;
	clear:none;
}
.cart .discount-form .input-box,
.cart .discount-form .buttons-set {
	float:left;
	
	padding:0;
}




/***********************************************************************************
AJAX CART
************************************************************************************/
#cartpopup_slidecontainer {
	max-width:660px;
	width:100%;
}

#cartpopup_slidecontainer,
#cartpopup_slidecontainer table {
	background:#019cde;
	color:#fff;
}

#cartpopup_slidecontainer h2 {
	font-size:21px;
	font-size:2.1rem;	
}

#cartpopup_slidecontainer a {
	color:#fff;
	text-decoration:underline;
}

#cartpopup_slidecontainer .button {
	background:#fff;
	color:#019cde;
}

#cartpopup_slidecontainer .cartpopup_close .fa {
	font-size:20px;
	font-size:2rem;	
}

#cartpopup_slidecontainer thead th {
	background-color:transparent;
	
	font-weight:bold;
}

#cartpopup_slidecontainer td {
	vertical-align:top;
}

#cartpopup_slidecontainer .cartpopup_footer .cartpopup_producttotal {
	border-bottom:none;
	
	font-size:16px;
	font-size:1.6rem;
}

#cartpopup_slidecontainer tbody .cartpopup_productname a {
	font-size:14px;
	font-size:1.4rem;
}

#cartpopup_slidecontainer .cartpopup_header a {
	right:0;
}

/***********************************************************************************
COUNTRY SELECTOR
************************************************************************************/

/* Country Select In Header */
.header__links .country-select ul {
	float:left;	
}

.header__links .country-select li {
	margin-left:10px;
}

.header__links .country-select li:first-child {
	margin-left:0;	
}

.header__links [class^="country-select--"] figure {
	margin:0;
	width:40px;
	height:auto;
        background-color: rgb(39, 38, 38);
}


/* Country Select Popup */
.popup__country-select {
	position:fixed;
	top:50%;
	left:50%;
	transform:translateY(-50%);
	z-index:100;
	
	width:600px;
	margin-left:-300px;
	padding:20px;
	
	background:#fff;
}

.popup__country-select ul {
	overflow:auto;
	width:100%;
}

.popup__country-select li {
	float:left;
	margin-left:20px;
	padding:20px;
	
	cursor:pointer;
	
	text-align:center;
}

.popup__country-select li:first-child {
	margin-left:0;
}

[class^="country-select--"] figure {
	display:inline-block;
	width:100%;
	height:5em;
	margin-bottom:20px;
}

.country-select--store_dk figure {
	background-image: url("../images/flags/4x3/dk.svg");
}

.country-select--store_no figure {
	background-image: url("../images/flags/4x3/no.svg");
}

.country-select--store_eu figure {
	background-image: url("../images/flags/4x3/eu.svg");
}

#shield {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	
	background:rgba(0,0,0,0.8);
	
	z-index:99;
}

/***********************************************************************************
CLUB PAGES
************************************************************************************/
.template__club .columns__main .six.columns:nth-child(2n+1) {
	margin-left:0;
}

.template__club .page__content h1,
.template__club .page__content h2,
.template__club .page__content h3,
.template__club .page__content h4,
.template__club .page__content h5,
.template__club .page__content h6 {
	margin-top:10px;
	text-transform:uppercase;	
}

.page__content .widget {
	width:auto;
	overflow:hidden;
}

@media (min-width: 768px) {
	.page__content .widget,
	.page__content .widget {
		margin-left: 4%;
	 }
	
	.page__content .widget:first-child,
	.page__content .widget:first-child {
    	margin-left: 0; }
	.page__content .widget .six.columns {
		width:48%;
	}
}

/***********************************************************************************
USER ACCOUNTS
************************************************************************************/

/* ACCOUNT CREATION */
.account-create form {
	padding:40px;
}

.account-create .fieldset {
	float:left;
	width:45%;
	margin-left:9%;
}

.account-create .fieldset:first-child {
	margin-left:0;
}

@media screen and (max-width:767px) {
	.account-create form {
		padding:0;
	}
	.account-create .fieldset {
		margin:0;
		width:100%;
	}
}