<?php $prefix = "gls"; ?>

<div id="<?php echo $prefix."-"; ?>droppoint-form" style="display:none;">
	<div class="<?php echo $prefix."-"; ?>droppoint-description">
		<?php echo $this->__('Få sendt dine varer til et afhentningssted nær dig.') ?>
	</div>
	<label for="<?php echo $prefix."-"; ?>postalCode"><?php echo $this->__('Indtast postnummer:'); ?></label>
	<input type="text" size="4" value="<?php echo $this->getPostnr(); ?>" id="<?php echo $prefix."-"; ?>postalCode" name="<?php echo $prefix."-"; ?>postalCode" onkeypress="return <?php echo $prefix; ?>.onEnterGetJson(event)" />
	<input type="hidden" value="<?php echo ($country = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getCountry()) ? $country : 'DK'; ?>" id="<?php echo $prefix."-"; ?>countryCode" name="<?php echo $prefix."-"; ?>countryCode" />
	<button type="button" class="button" onclick="<?php echo $prefix; ?>.loadDroppoints()"><span><span><?php echo $this->__('Søg afhentningssted'); ?></span></span></button>
	<span id='<?php echo $prefix."-"; ?>loading' style='display:none'>
		<img src='<?php echo $this->getSkinUrl($prefix.'/images/ajax-loader.gif') ?>'/>
	</span>
	
	<?php // GLS SPECIFIC ?>
	<br/>
	<label for="<?php echo $prefix."-"; ?>afhenter"><?php echo Mage::helper('gls')->__("Navn på den, der afhenter pakken:") ?></label>
	<input type="text" onblur="<?php echo $prefix; ?>.updateAfhenter(this.value)" value="<?php echo $this->getAfhenter() ?>" id="<?php echo $prefix."-"; ?>afhenter" name="<?php echo $prefix."-"; ?>afhenter" class="required-entry" />
	
	<br/>
	<label for="<?php echo $prefix."-"; ?>telephone"><?php echo Mage::helper('gls')->__("Advisering på mobilnummer:") ?></label>
	<input type="text" onblur="<?php echo $prefix; ?>.updateTelephone(this.value)" value="<?php echo $this->getTelephone() ?>" id="<?php echo $prefix."-"; ?>telephone" name="<?php echo $prefix."-"; ?>telephone" class="required-entry" />		
	
	<?php // TEXT CONTAINERS TIL JAVASCRIPTS START ?>
	
	<div id="<?php echo $prefix."-"; ?>selected-droppoint-text-container" style="display:none"><strong><?php echo $this->__('Vælg afhentningssted:'); ?></strong><br/><i>
		<?php echo $this->__('Indtast dit postnummer og tryk "Søg afhentningssted" herover for at vælge et afhentningssted.'); ?></i></div>
	<div id="<?php echo $prefix."-"; ?>selected-droppoint-text-container-selected" style="display:none"><strong><?php echo $this->__('Valgt afhentningssted:'); ?></strong><br /></div>
	<?php // TEXT CONTAINERS TIL JAVASCRIPTS END ?>
	<div  class="selected-droppoint" id="<?php echo $prefix."-"; ?>selected-droppoint"><strong><?php echo $this->__('Vælg afhentningssted:'); ?></strong><br/><i>
		<?php echo $this->__('Indtast dit postnummer og tryk "Søg afhentningssted" herover for at vælge et afhentningssted.'); ?></i></div>
	<input type="hidden" class="required-entry" name="<?php echo $prefix."-"; ?>droppoint-id" id="<?php echo $prefix."-"; ?>droppoint-id" value=""/>
	<div class="hidden address">
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-name" id="<?php echo $prefix."-"; ?>droppoint-name" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-city" id="<?php echo $prefix."-"; ?>droppoint-city" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-postalcode" id="<?php echo $prefix."-"; ?>droppoint-postalcode" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-streetname" id="<?php echo $prefix."-"; ?>droppoint-streetname" value="" />						
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-streetnumber" id="<?php echo $prefix."-"; ?>droppoint-streetnumber" value="" />						
	</div>
</div>


<div id="<?php echo $prefix."-"; ?>droppoint-overlay">
	<div id="<?php echo $prefix."-"; ?>droppoint-wrapper">
		<div id="<?php echo $prefix."-"; ?>droppoint-header"><h2><?php echo $this->__('Vælg afhentningssted'); ?></h2></div>
		<div id="<?php echo $prefix."-"; ?>droppoint-result">
			<div class="map">
				<div id="<?php echo $prefix."-"; ?>map-canvas"></div>
			</div>
			<div id="<?php echo $prefix."-"; ?>address-container">
				<ul id="<?php echo $prefix."-"; ?>addresses"></ul>
				<div class="clearer"></div>
			</div>
			<div id="<?php echo $prefix."-"; ?>opening-container">
				<div class="<?php echo $prefix."-"; ?>opening-header-empty"><?php echo $this->__("Vælg et afhentningssted i venstre side, og se åbningstiderne her"); ?></div>
			</div>
			<div style="display:none">
				<span id="<?php echo $prefix."-"; ?>opening-header-text"><?php echo $this->__("Adresse & Åbningstider"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-text"><?php echo $this->__("Åbningstider"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-mo"><?php echo $this->__("Mandag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-tu"><?php echo $this->__("Tirsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-we"><?php echo $this->__("Onsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-th"><?php echo $this->__("Torsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-fr"><?php echo $this->__("Fredag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-sa"><?php echo $this->__("Lørdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-su"><?php echo $this->__("Søndag"); ?></span>
			</div>
		</div>
		<div class="clearer"></div>
		<div id="<?php echo $prefix."-"; ?>droppoint-buttons-set">
			
			<button type="button" id="<?php echo $prefix."-"; ?>close-droppoint-selector-save">
				<?php echo $this->__('Vælg') ?>
			</button>

			<button type="button" id="<?php echo $prefix."-"; ?>close-droppoint-selector-remove">
				<?php echo $this->__('Annullér') ?>
			</button>	
			
		</div>
	</div>
	<div id="<?php echo $prefix."-"; ?>droppoint-bg-overlay">
	</div>
</div>

<div id="<?php echo $prefix."-"; ?>flex-form" style="display:none;">
	<div class="<?php echo $prefix."-"; ?>flex-description">
		<?php echo $this->__('Hvor må pakken stilles?') ?>
	</div>
	<input type="text" size="30" value="" id="<?php echo $prefix."-"; ?>flexmessage" name="<?php echo $prefix."-"; ?>flexmessage" class="required-entry" onblur="<?php echo $prefix; ?>.updateGLSPrivatComment(this.value)"/>
</div>

<script type="text/javascript">
	
	<?php echo $prefix; ?> = new GLS();

	<?php $url = Mage::getUrl('',array('_secure'=>true)); ?>
	<?php $url = Mage::getModel('core/url')->sessionUrlVar($url); ?>	

	baseUrl = "<?php echo $url; ?>";
	lastUpdatedDroppointId = false;
	
	<?php echo $prefix; ?>.idArrayDroppoints = [];
	<?php $droppointsIds = Mage::helper('gls/droppoints')->getDroppointsIds(); ?>
	<?php foreach($droppointsIds as $id) : ?>
		<?php echo $prefix; ?>.idArrayDroppoints.push('<?php echo $id ?>');
	<?php endforeach; ?>

	<?php echo $prefix; ?>.idArrayFlexs = [];
	<?php $flexIds = Mage::helper('gls/droppoints')->getFlexIds(); ?>
	<?php foreach($flexIds as $id) : ?>
		<?php echo $prefix; ?>.idArrayFlexs.push('<?php echo $id ?>');
	<?php endforeach; ?>

	Ajax.Responders.register({
		onComplete: <?php echo $prefix; ?>.checkDroppointShipping
	});
	
	<?php echo $prefix; ?>.checkDroppointShipping();
	<?php echo $prefix; ?>.setDroppointFromLocalStorage();
	<?php echo $prefix; ?>.checkFlexShipping();
	<?php echo $prefix; ?>.setFlexFromLocalStorage();

</script>

<?php
$storeId = Mage::app()->getStore()->getId();
$showIcon = Mage::getStoreConfig($prefix.'/design/'.$prefix.'_showicon', $storeId);
$iconType = Mage::getStoreConfig($prefix.'/design/'.$prefix.'_icontype', $storeId);
$icon = $this->getSkinUrl($prefix.'/images/logo.png');
?>

<script type="text/javascript">

	<?php echo $prefix;?>_logos = {
		
		methodId : 'gls_bestway',
		
		start : function() {
			<?php if($showIcon) : ?>
				<?php echo $prefix; ?>_logos.setLogos();
			<?php endif; ?>
		},
		
		setLogos : function() {
			<?php if($iconType == 'logo-only-heading') : ?>
				<?php echo $prefix; ?>_logos.setLogoAsHeader();
			<?php elseif($iconType == 'logo-heading') : ?>
				<?php echo $prefix; ?>_logos.setLogoAndTextAsHeader();
			<?php elseif($iconType == 'bullets') : ?>
				<?php echo $prefix; ?>_logos.setLogoAsBullets();
			<?php endif; ?>
		},
		
		<?php if($iconType == 'logo-only-heading') : ?>
			setLogoAsHeader : function() {
	
				// Normal Checkout -----
				if($$('.checkout-onepage-index') != '') {
					if($$('.checkout-onepage-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.checkout-onepage-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').insert({
							before: '<img width="100" src="<?php echo $icon;?>"/>'
						});				
						$$('.checkout-onepage-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').hide();
					}
				
				} else if($$('.aw-onestepcheckout-index-index') != '') {
					if($$('.aw-onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.aw-onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').insert({
							before: '<img width="100" src="<?php echo $icon;?>"/>'
						});				
						$$('.aw-onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').hide();
					}
				
				}// OneStepCheckout ----- 
				else if($$('.onestepcheckout-index-index') != '') {
					if($$('.onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('dt').previous('dd').insert({
							before: '<img width="100" src="<?php echo $icon;?>"/>'
						});
						$$('.onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('dt').previous('dd').hide();				
					}
				}
	
			},
		<?php endif; ?>
		
		<?php if($iconType == 'logo-heading') : ?>
			setLogoAndTextAsHeader : function() {
	
				// Normal Checkout
				if($$('.checkout-onepage-index') != '') {
					if($$('.checkout-onepage-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.checkout-onepage-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').insert({
							after: '<img width="100" src="<?php echo $icon;?>"/>'
						});
					}
				} else if($$('.aw-onestepcheckout-index-index') != '') {
					if($$('.aw-onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.aw-onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('li').up('ul').up('dd').previous('dt').insert({
							after: '<img width="100" src="<?php echo $icon;?>"/>'
						});
					}
				} else if($$('.onestepcheckout-index-index') != '') {
					// OneStepCheckout
					if($$('.onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').length) {
						$$('.onestepcheckout-index-index label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']')[0].up('dt').previous('dd').insert({
							after: '<img width="100" src="<?php echo $icon;?>"/>'
						});
					}
				}
				
			},
		<?php endif; ?>		
		
		<?php if($iconType == 'bullets') : ?>
			setLogoAsBullets : function() {
				
				$$('label[for^=s_method_'+<?php echo $prefix;?>_logos.methodId+']').each(function(value) {
					$(value).insert({
						top: '<img width="50" style="margin-right:6px;display:inline-block;vertical-align: top;" src="<?php echo $icon;?>"/>'
					})
				});
	
			},
		<?php endif; ?>
		
	}
	<?php echo $prefix;?>_logos.start();

</script>