.clearer:after { display: block; content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }

/* DROPPOINTS prefix = gls- */

/* RESET CSS -------------------------------------------------------------------- */

#gls-droppoint-wrapper h2,
#gls-droppoint-wrapper h4,
#gls-droppoint-wrapper p,
#gls-droppoint-wrapper a,
#gls-droppoint-wrapper span {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	background: none;
	color: #0a263c;
	text-align: left;
}
#gls-droppoint-wrapper a:active,
#gls-droppoint-wrapper a:focus,
#gls-droppoint-wrapper a:hover {
  outline: 0;
}

#gls-droppoint-wrapper button::-moz-focus-inner,
#gls-droppoint-wrapper input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#gls-droppoint-wrapper ul {
	list-style: none;
}

#gls-droppoint-wrapper ul li {
	float: none;
	padding: 0;
	margin: 0;
}

/* 
ON-PAGE FORM -------------------------------------------------------------------- */

#gls-droppoint-form { 
	min-height: 20px; 
	padding: 10px 5px 10px 15px; 
	font-family: helvetica, arial, sans-serif; 
}

#gls-droppoint-form label { 
	padding-left: 0px !important;
	background: none !important;
	display: block !important;
}

#gls-droppoint-form .gls-droppoint-description { 
	margin-bottom: 7px; 
	font-style: italic; 
}

#gls-droppoint-form input#gls-postalCode { 
	padding: 1px 3px; 
	width: 50px; 
}

#gls-selected-droppoint { 
	margin-top: 5px; 
}

/* 
OVERLAY ------------------------------------------------------------------------- */

#gls-droppoint-overlay { 
	display: none; 
}

#gls-droppoint-bg-overlay {
	background-color: rgba(0, 0, 0, 0.4); 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 99998;	
}

/* 
WRAPPER ------------------------------------------------------------------------- */

#gls-droppoint-wrapper { 
	position: fixed; 
	max-width: 1000px;
	width: 85%; 
	max-height: 622px;
	height: 100%; 
	background-color: white; 
	top: 0; 
	box-shadow: 0px 0px 135px #444; 
	color: #444; 
	font: 12px/1.55 Arial, Helvetica, sans-serif; 
	border-radius: 4px;
	overflow: hidden;
	margin: auto;
	right: 0;
	left: 0;
	z-index: 99999;	
}

#gls-droppoint-wrapper hr {
	border: 0;
	height: 0;
	border-top: 1px solid #E5E5E5;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

/* 
HEADER -------------------------------------------------------------------------- */

#gls-droppoint-header { 
	position: relative; 
	width: 100%; 
	padding:15px;
	box-sizing: border-box;
	height: 50px;
	border-bottom: 1px solid #E5E5E5;
}

#gls-droppoint-header h2 { 
	font-size: 18px;
	line-height: normal;
	text-align: center;
	margin-bottom: 0;
}

/* 
RESULT: CONTAINER ---------------------------------------------------------------- */

#gls-droppoint-result { 
	position: relative; 
	float: left; 
	height: auto; 
	width: 100%;
} 

/* 
RESULT: OPENING HOURS ------------------------------------------------------------- */

#gls-droppoint-result #gls-opening-container {
	position: absolute; 
	max-height: 500px; 
	max-width: 250px; 
	width: 25%;
	padding: 20px 25px; 
	text-align: left;
	overflow-y: scroll;
	right: 0;
	box-sizing: border-box;
}

#gls-droppoint-result #gls-opening-container .gls-opening-header {
	font-size: 18px; 
	margin-bottom: 20px; 
	color: #0a263c;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

#gls-droppoint-result #gls-opening-container .gls-opening-header-empty {
	font-size: 13px; 
	color: #666;
	font-weight: 400;
	font-style: normal;
}

#gls-droppoint-result #gls-opening-container span {
	font-weight: bold; 
	text-transform: uppercase;
}

#gls-droppoint-result #gls-opening-container .gls-content {
	margin-bottom: 20px; 
}

#gls-droppoint-result #gls-opening-container ul {
	border: 1px solid #E5E5E5;
	margin-top: 4px;
}

#gls-droppoint-result #gls-opening-container ul li {
	padding: 4px 8px;
	border-bottom: 1px solid #E5E5E5;
}

#gls-droppoint-result #gls-opening-container ul li:last-child {
	border-bottom: 0;
}

#gls-droppoint-result #gls-opening-container ul .gls-weekday { 
	display: inline-block; 
}

#gls-droppoint-result #gls-opening-container ul .gls-openinghours { 
	display: inline; 
	float: right; 
}

/* 
RESULT: ADRESSES ------------------------------------------------------------------ */

#gls-droppoint-result #gls-address-container {
	float: left; 
	max-height: 500px;
	max-width: 250px; 
	width: 25%;  
	padding: 20px; 
	border-right: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	box-sizing: border-box;
	overflow-y: scroll;
}

#gls-droppoint-result #gls-addresses li { 
	float: left; 
	width: 175px; 
	display: block; 
	font-family: helvetica, arial, sans-serif; 
	overflow: visible;
} 

#gls-droppoint-result #gls-addresses li input.gls-radio { 
	float: left; 
	display: block; 
	width: 13px; 
	height: 13px; 
	margin: 0px; 
	margin-top: 2px; 
}

#gls-droppoint-result #gls-addresses li .gls-address { 
	float: right; 
	width: 150px; 
	text-align: left; 
	margin-bottom: 20px;
}

#gls-droppoint-result #gls-addresses li:last-child .gls-address {
	margin-bottom: 0;
}

#gls-droppoint-result #gls-addresses li .gls-address p:hover, 
#gls-droppoint-result #gls-addresses li .gls-address label h4:hover { 
	cursor: pointer; 
}

#gls-droppoint-result #gls-addresses li .gls-address label h4 { 
	font-size: 12px; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin-bottom: 3px; 
}

#gls-droppoint-result #gls-addresses li .gls-address p { 
	margin: 0px; 
	font-size: 12px; 
	color: #666; 
	line-height: 16px; 
	font-weight: normal;
}

/* 
RESULT: MAP ------------------------------------------------------------------------ */

#gls-droppoint-result div.map { 
	float: left;
	max-width: 500px;
	width: 50%;
	height: 100%;
	display: block;
}

#gls-droppoint-result div.map #gls-map-canvas { 
	max-width: 500px; 
	width: 100%;
	height: 100%;
}

/* 
BUTTONS ----------------------------------------------------------------------------- */

#gls-droppoint-wrapper #gls-droppoint-buttons-set { 
	padding: 15px;
	width: 100%;
	float: left;
	box-sizing: border-box;
	border-top: 1px solid #E5E5E5;
	height: 72px;
}

button#gls-close-droppoint-selector-save,
button#gls-close-droppoint-selector-remove {
	margin: 0;
	padding: 0;
	font: helvetica, arial, sans-serif;
	overflow: visible;
	-webkit-appearance: button;
	cursor: pointer;	
	text-align: center; 
	text-transform: uppercase; 
	font-weight: bold; 
	width: 120px; 
	font-size: 13px;
	font-weight: 400;
	vertical-align: middle;
	border-radius: 4px;
	padding: 10px 0;
}

#gls-close-droppoint-selector-save { 
	color: #fff;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	float: right; 
}

#gls-close-droppoint-selector-save:hover { 
	cursor: pointer; 
	background-color: #449d44;
	border-color: #398439;
}

#gls-close-droppoint-selector-remove { 
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left; 
}

#gls-close-droppoint-selector-remove:hover { 
	cursor: pointer; 
	background-color: #e6e6e6;
	border-color: #adadad;
}

.clearer:after { 
	display: block; 
	content: "."; 
	clear: both; 
	font-size: 0; 
	line-height: 0; 
	height: 0; 
	overflow: hidden; 
}

/* 
RESPONSIVE: SMALL SCREENS AND TABLETS --------------------------------------------- */

@media only screen and (max-width : 1049px) {	
	
	#gls-droppoint-wrapper { 
		width: 90%; 
	}
	
	#gls-droppoint-result div.map {
		display: none;
	}

	#gls-droppoint-result #gls-address-container { 
		padding: 30px; 
		max-width: none;
		width: 70%; 
	}

	#gls-droppoint-result #gls-addresses li { 
		width: 33%; 
		min-height: 94px;
	}

	#gls-droppoint-result #gls-addresses li .gls-address { 
		float: left; 
		margin-left: 10px; 
		width: 80%; 
	}
	
	#gls-droppoint-result #gls-addresses li .gls-address p { 
		font-size: 11px; 
	}
	
	#gls-droppoint-result #gls-opening-container { 
		padding: 30px; 
		max-width: none;
		width: 30%; 
	}
	
}

/* 
RESULT: TABLETS ------------------------------------------------------------------ */

@media only screen and (max-width : 950px) {
	
	#gls-droppoint-result #gls-addresses li { 
		width: 50%; 
		min-height: 80px;
	}
}

/* 
RESULT: TABLETS ------------------------------------------------------------------ */

@media only screen and (max-width : 880px) {
	
	#gls-droppoint-result #gls-address-container { 
		width: 65%; 
	}		

	#gls-droppoint-result #gls-opening-container { 
		width: 35%; 
	}
	
	#gls-droppoint-result #gls-addresses li { 
		width: 50%; 
		min-height: 90px;
	}
	
}

/* 
RESULT: LARGE SMARTPHONES --------------------------------------------------------- */

@media only screen and (max-width : 680px) {

	#gls-droppoint-result #gls-address-container { 
		width: 50%; 
	}		

	#gls-droppoint-result #gls-opening-container { 
		width: 50%;
	}
	
	#gls-droppoint-result #gls-addresses li { 
		width: 100%; 
		min-height: 0;
	}
	
}

/* 
RESULT: SMARTPHONES ---------------------------------------------------------------- */

@media only screen and (max-width : 480px) {
	
	#gls-droppoint-wrapper { 
		width: 100%; 
		margin-top:0; 
		position: fixed; 
		height: 100%; 
		max-height: 100%; 
	}
	
	#gls-droppoint-result { 
		overflow-y: scroll; 
		overflow-x: hidden;
	}
	
	#gls-droppoint-result #gls-address-container,
	#gls-droppoint-result #gls-opening-container { 
		padding: 20px; 
		height: auto;
		max-height: none;
		overflow-y: scroll; 
	}

}

/* 
RESULT: SMALL SMARTPHONES ----------------------------------------------------------- */

@media only screen and (max-width : 320px) {
	
	#gls-droppoint-header h2 {
		font-size: 1.25em;
	}
	
	#gls-droppoint-result #gls-address-container {
		width: 100%;
		border: 0;
	}
	
	#gls-droppoint-result #gls-opening-container {
		display: none;
	}
	
	#gls-droppoint-buttons-set button#gls-close-droppoint-selector-save, 
	#gls-droppoint-buttons-set button#gls-close-droppoint-selector-remove {
		width: 45%;
	}
}