<?php
/**
 * Magento
 *
 * @category    design
 * @package     humanspeed
 * @copyright   Copyright (c) 2006-2015 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>

<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
	<?php echo $this->getChildHtml('after_body_start') ?>
	<?php echo $this->getChildHtml('global_notices') ?>
	<?php echo $this->getChildHtml('header') ?>
	
	<div id="wrapper" class="wrapper__page template__club">
		<div class="container">
			<div class="twelve columns">
				<?php //echo $this->getChildHtml('breadcrumbs') ?>
				<?php //echo $this->getChildHtml('club_top') ?>
				<?php $this->getLayout()->createBlock('nwdrevslider/revslider')->setAlias('slider-clubs')->toHtml(); ?>
			</div>
		</div>
		<div class="container page__content">
			<div class="three columns columns__left">
				<h2 class="nav__title"><?php echo $this->__('Humanspeed Clubs'); ?></h2>
				<?php echo $this->getChildHtml('left') ?>
			</div>
			<div class="nine columns columns__main">
				<?php echo $this->getChildHtml('global_messages') ?>
				<?php echo $this->getChildHtml('content') ?>
			</div>
		</div>
	</div>
	<footer class="wrapper__footer">
		<?php echo $this->getChildHtml('footer_social') ?>
		<?php echo $this->getChildHtml('footer_before') ?>
		<?php echo $this->getChildHtml('footer') ?>
	</footer>
	<?php echo $this->getChildHtml('global_cookie_notice') ?>
	<?php echo $this->getChildHtml('before_body_end') ?>
	<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>

